/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
	font-family: 'Bree Serif', serif;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#testoAlternato {
	border: 2px solid #000;
	padding: 1rem;
	width: 60%;
}

p {
	font-size: 1.5rem;
	line-height: 1.5em;
}

.parole {
	display: inline-flex;
	flex-direction: column;
	height: 36px;
	overflow: clip;
	color: #6a889c;
}

@keyframes slide {
	0% {
		transform: translatey(0);
		opacity: 1;
	}
	19.99999% {
		opacity: 1;
	}
	20% {
		opacity: 0;
		transform: translatey(0);
	}
	30% {
		opacity: 1;
		transform: translatey(-36px);
	}
	79.9999% {
		opacity: 1;
	}
	80% {
		transform: translatey(-36px);
		opacity: 0;
	}
	90% {
		opacity: 1;
		transform: translatey(-72px);
	}
	/* 100% {
		transform: translatey(-72px);

		opacity: 0;
	} */
}

.parole i {
	animation: slide 3s ease-in-out 0s infinite;
}
